* text=auto eol=lf

*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf
*.props text
*.targets text

*.yml text
*.yaml text
*.json text
*.xml text
*.md text

*.png binary
*.ico binary
*.dll binary
*.exe binary
*.pdb binary
*.zip binary
